<div class="journal-container">
    <h2><%= journal.date %></h2>
  <div class="journal-center">
      <div class="journal-show">
        <h2 class="journal-feeling">today i felt: <%= journal.feeling %></h2>
        <p class="journal-entry"><%= journal.entry %></p>
      </div>
    </div>

    </div>
    <a href="/index">Return to Entries</a>

    <a href="<%= journal._id %>/edit">Edit</a>
    </div>
  </div>