<div class="bye-container">
    <h1>bye<span class="bye-dot">.</span></h1>
            <a class="bye-btn" role="button" href="/login">nvm, log back in</a>
        </form>
        </div>
    </div>
</div>