<div class="container">
    <h1>Bye<span class="bye-dot">.</span></h1>
            <button class="btn btn-primary logback-btn" type="submit">Log Back In</button>
        </form>
        </div>
    </div>
</div>