<div class="signup-container">
    <h1>Sign Up<span class="signup-dot">.</span></h1>

        <div class="signup-form">
        <form action="/signup" method="post">
            <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control">
            </div>
            <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control">
            </div>
            <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control">
            </div>
    
            <button class="btn btn-primary signup-btn" type="submit">Signup</button>
            <p style="color:white;">already a member? <a href="/login" style="color:grey;">log in.</a></p>
        </form>

    </div>
</div>