
<div class="container-fluid">
  <div class="home-heading text-center row">
    <div class="home-heading-wrapper">

            <span class="index-header-font">my journal<span class="header-dot">.</span></span>

          </div>

          <a href="/journals/new" class="new-btn" role="button">New Journal Entry</a>
  <div class="journal-row row">
      <% journals.forEach((journal) => { %>
        <div class="col-sm-3 home-journal-box">
          <br>
          <div class="journal-info-wrapper journal-box">
            <a role="button" href="/journals/<%= journal._id %>">
              <span><%= journal.date %></span>
            </a> 
            
          </div>
        </div>
      <%  }) %>
    </div>

</div>
</div>