
<div class="container-fluid">
    <div class="home-heading text-center row">
          <div class="home-heading-wrapper first-container">
            <h1 class="header-font">MY JOURNAL<span class="header-dot">.</span></h1>
            <div class="text-center">
                    <p class="text-body ">MyJournal is an online journal platform. Here goes more text
                            about why you should use this online journal. A little bit more
                            text. Thanks so much bye.</p>
                                <a class="btn btn-primary login-btn" href="/login" role="button">Login</a>
            </div>
        </div>

        <div class="home-heading-wrapper second-container" data-aos="slide-up" data-aos-anchor-placement="top-center" data-aos-easing="ease-in-quad">
            <h1 class="second-header-font">WHY JOIN<span class="second-header-dot">?</span></h1>
            <div class="text-center">
                    <p class="text-body ">MyJournal is an online journal platform. Here goes more text
                        about why you should use this online journal. A little bit more
                        text. Thanks so much bye.</p>
                            <a class="btn btn-primary login-btn" href="/login" role="button">Login</a>
            </div>
        </div>

    </div>
</div> 

