
<div class="container-fluid">
          <div class="home-heading-wrapper first-container">
            <h1 class="header-font text-center">COUCOU<span class="header-dot">.</span></h1>
            <div class="text-center">
                    <p class="first-text-body">an online journal platform.</p>
                    <div class="btn-div"><a href="/login" class="login-btn" role="button">Login</a>
                        </div>
            </div>
        </div>
    </div>
</div> 

