* {
  font-family: 'Rubik', serif;
}


.btn-logout {
  color: black;
  padding: 10px;
  border: 0;
  font-size: 1em;
}

.first-container {
  margin-bottom: 15%;
  margin-top: 10%;
  padding: 2%;
  height: 100% !important;
  width: 100%;
  /* position: absolute; */
}

.second-container {
  background: rgba(209, 209, 209, 0.5);
  padding: 2%;
}

.btn-logout:hover {
  text-decoration: none;
  color: black;
}
.journal-row {
  margin-top: 3%;
}

.navbar {
  padding: 3%;
  font-size: 1.5em;
}

.large {
  background: #fff;
  width: 100vw;
  height: 100vh;
  padding: 50px;
  border: 20px solid #494242;
  line-height: 1.5;
  overflow: auto;
  background-image: url("../video/unnamed.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;

}

.header-font{
  color: black;
}

.second-header-font{
  color: black;
  font-size: 5em;
}

.third-header-font{
  color: black;
  font-size: 5em;
}

.header-dot{
  color: #C88874;
  font-size: 1.2em;
}

.second-header-dot{
  color: #C88874;
  font-style: bold;
}


.login-dot{
  color: #0bb200;
  font-size: 100px;
}

.bye-dot{
  color: #8A51B7;
  font-size: 100px;
}

.signup-dot{
  color: #fca714;
  font-size: 100px;
}

.first-text-body {
  width: 50%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 3em;
  font-family: 'Rubik';
  /* text-shadow: -.75px 0 white, 0 .75px white, .75px 0 white, 0 -1px white; */
}

.text-body {
  width: 50%;
  margin: 0 auto;
}

h1{
  font-size: 8em;
  /* font-weight: bold; */
  /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
}

p{
  font-size: 20px;
  color: black;
}

.login-btn {
  font-size: 30px;
  margin-top: 3%;
  background-color: #AFCA9D;
  padding: 10px 30px;
  border-color: #AFCA9D;
}

.login-btn:hover {
  margin-top: 3%;
  background-color: #DAE8AA;
  padding: 10px 30px;
  border-color: #DAE8AA;
}

.login-page-btn {
  margin-top: 2%;
  background-color: #2bbc03;
  padding: 10px 30px;
  border-color: #2bbc03;
}

.login-page-btn:hover {
  margin-top: 2%;
  background-color: #208405;
  padding: 10px 30px;
  border-color: #208405;
}

.signup-btn {
  margin-top: 2%;
  background-color: #efa545;
  padding: 10px 30px;
  border-color: #efa545;
}

.signup-btn:hover {
  margin-top: 2%;
  background-color: #f78f11;
  padding: 10px 30px;
  border-color: #f78f11;
}

.logback-btn {
  font-size: 30px;
  margin-top: 3%;
  background-color: #528cf2;
  padding: 10px 30px;
  border-color: #528cf2;
}

.logback-btn:hover {
  margin-top: 3%;
  background-color: #164faf;
  padding: 10px 30px;
  border-color: #164faf;
}

.special {
  width: 700px;
   height: 400px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -150px;
}

/* show page */

.journal-container {
  text-align: center;
  padding: 10%;
}

.journal-center {
  margin: 0 auto;
  width: 70%;
  background: rgba(209, 209, 209, 0.5);
  padding: 10%;
  text-align: center;

}

/* index page */

.index-header-font{
  color: black;
  font-size: 5em;
}

.new-btn {
  margin-top: 2%;
  background-color: #AFCA9D;
  padding: 10px 30px;
  border-color: #AFCA9D;
  border-radius: 10px;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: none;
  color: #0A153B;
}

.journal-box {
  background: rgba(209, 209, 209, 0.5);
}


