* {
  font-family: 'Rubik', serif;
}

.main-login {
  font-size: .5em;
  /* background-color: rgba(209, 209, 209, 0.5); */
  /* border-color: rgba(209, 209, 209, 0.5); */
}

.main-signup {
  font-size: .5em;
  /* background-color: rgba(133, 131, 170, 0.5); */
  /* border-color: rgba(133, 131, 170, 0.5); */
}



.btn-logout {
  color: black;
  padding: 10px;
  border: 0;
  font-size: 1em;
}

.first-container {
  margin-bottom: 15%;
  margin-top: 10%;
  padding: 2%;
  height: 100% !important;
  width: 100%;
  /* position: absolute; */
}

.second-container {
  background: rgba(209, 209, 209, 0.5);
  padding: 2%;
}

.btn-logout:hover {
  text-decoration: none;
  color: black;
}
.journal-row {
  margin-top: 3%;
}

.navbar {
  padding: 3%;
  font-size: 1.5em;
}

.large {
  background: #fff;
  width: 100vw;
  height: 100vh;
  padding: 50px;
  border: 20px solid #494242;
  line-height: 1.5;
  overflow: auto;
  background-image: url("../video/unnamed.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;

}

.header-font{
  color: black;
  text-align: center;
}

.second-header-font{
  color: black;
  font-size: 5em;
}

.third-header-font{
  color: black;
  font-size: 5em;
}

.header-dot{
  color: #C88874;
  font-size: 1.2em;
}

.second-header-dot{
  color: #C88874;
  font-style: bold;
}


.login-dot{
  color: #0bb200;
  font-size: 100px;
}

.bye-dot{
  color: #8A51B7;
  font-size: 100px;
}

.signup-dot{
  color: #fca714;
  font-size: 100px;
}

.first-text-body {
  width: 50%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 3em;
  font-family: 'Rubik';
  /* text-shadow: -.75px 0 white, 0 .75px white, .75px 0 white, 0 -1px white; */
}

.text-body {
  width: 50%;
  margin: 0 auto;
}

h1{
  font-size: 8em;
  /* font-weight: bold; */
  /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
}

p{
  font-size: 20px;
  color: black;
}

.login-btn {
  font-size: 30px;
  margin-top: 3%;
  background-color: #AFCA9D;
  padding: 10px 30px;
  border-color: #AFCA9D;
}

.login-btn:hover {
  margin-top: 3%;
  background-color: #DAE8AA;
  padding: 10px 30px;
  border-color: #DAE8AA;
}

.login-page-btn {
  margin-top: 2%;
  background-color: #2bbc03;
  padding: 10px 30px;
  border-color: #2bbc03;
}

.login-page-btn:hover {
  margin-top: 2%;
  background-color: #208405;
  padding: 10px 30px;
  border-color: #208405;
}

.signup-btn {
  margin-top: 2%;
  background-color: #efa545;
  padding: 10px 30px;
  border-color: #efa545;
}

.signup-btn:hover {
  margin-top: 2%;
  background-color: #f78f11;
  padding: 10px 30px;
  border-color: #f78f11;
}

.logback-btn {
  font-size: 30px;
  margin-top: 3%;
  background-color: #528cf2;
  padding: 10px 30px;
  border-color: #528cf2;
}

.logback-btn:hover {
  margin-top: 3%;
  background-color: #164faf;
  padding: 10px 30px;
  border-color: #164faf;
}

.special {
  width: 700px;
   height: 400px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -150px;
}

/* show page */

.journal-container {
  text-align: center;
  padding: 8%;
}

.journal-center {
  margin: 0 auto;
  width: 70%;
  background: rgba(209, 209, 209, 0.5);
  padding: 5%;
  text-align: center;
}

.journal-entry {
  font-style: italic;
  font-size: 1em;
}

.journal-feeling {
  font-size: 1.5em;
}

.journal-show {
  text-align: center;
}
/* index page */

.index-header-font{
  color: black;
  font-size: 5em;
}

.new-btn {
  margin-top: 2%;
  background-color: #AFCA9D;
  padding: 10px 30px;
  border-color: #AFCA9D;
  border-radius: 10px;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: none;
  color: #0A153B;
}

.journal-box {
  background: #C88874;
}

.journal-box:hover {
  background: rgba(224, 121, 103, 0.5);
}

.book {
  margin: 0 auto;
  width: 40.5rem;
  height: 40.5rem;
  perspective: 70rem;
}

.form-class{
  width: 380px;
  height: 360px;
  text-align: center;
  margin: 0 auto;
}

.page {
  top: 0.25rem;
  left: 0.25rem;
  background-color: white;
  transform: rotateY(0deg);
  width: 40rem;
  height: 40rem;
  text-align: right;
  font-size: 8px;
  color: #777;
}
.page::before, .page::after {
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
  content: "";
}
.cover, .page {
  position: absolute;
  padding: 1rem;
  transform-origin: 100% 0;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.cover.turn {
  animation: bookCover 3s backwards;
}
.page.turn {
  animation: bookOpen 3s backwards;
}
.page:nth-of-type(1) {
  animation-delay: 0.05s;
}
.page:nth-of-type(2) {
  animation-delay: 0.33s
}
.page:nth-of-type(3) {
  animation-delay: 0.33s;
}
.page:nth-of-type(4) {
  animation: bookOpen150deg 3s backwards;
  animation-delay: 0.33s;
}
.page:nth-of-type(5) {
  animation: bookOpen30deg 3s backwards;
  animation-delay: .33s;
}
.page:nth-of-type(6) {
  animation: bookOpen55deg 3s backwards;
  animation-delay: 1.25s;
}
@keyframes bookOpen {
  30% { z-index: 999 }
  100% {  transform: rotateY(180deg);
    z-index: 999;}
}
@keyframes bookCover {
  30% { z-index: 999 }
  100% {  transform: rotateY(180deg);
    z-index: 1;}
}
@keyframes bookOpen150deg {
  30% { z-index: 999 }
  100% {  transform: rotateY(150deg);
    z-index: 999;}
}
@keyframes bookOpen55deg {
  30% { z-index: 999 }
  100% {  transform: rotateY(55deg);
    z-index: 999;}
}
@keyframes bookOpen30deg {
  50% { z-index: 999 }
  100% {  transform: rotateY(30deg);
    z-index: 999;}
}


